#board {
    display: flex;
    flex-wrap: wrap;
}

/*Pour améliorer la forme des boites*/

.box {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgb(212, 250, 76);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;

    /*Changer le curseur (effet click)*/
    cursor: pointer;

    /*Pour animer le changement de couleur*/
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}

/*Change la couleur de la boite quand celle-ci est sélectionée au click*/

.box-valid {
    background-color: #ccc;
    color: #aaa;

    /*Pour réduire la taille de 20%*/
    transform: scale(0.8);
}

/*Change la couleur du chiffre de la boite suivant les conditions*/

.box.error {
    color: red;
    background-color: rgb(255, 160, 190);
}

.box.success {
    color: green;
    background-color: rgb(172, 251, 172);
}

.box.notice {
    color: blue;
    background-color: rgb(184, 217, 255);
    cursor: not-allowed;
}

/*Animation des boites au rafraichissment de la page web*/

@keyframes appear {
    from {
        transform: scale(0) rotate(180deg)
    }

    to {
        transform: scale(1) rotate(0deg)
    }
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background: rgb(212, 250, 76);
    color: black;
    border-radius: 20px;
    display: flex;
    width: 140px;
    justify-content: center;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0);
    cursor: pointer;
    transition: .5s ease-in-out
}

.button:hover {
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-play-state: paused;
    background: linear-gradient(gray, white);
    color: black;
    font-weight: bold;
}

@keyframes move {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(20%);
    }
}

/*TELEPHONE*/
@media only screen and (max-width:600px) {


    h1,
    ul {
        display: none;
    }

    h2 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 20px;
    }

    #board {
        justify-content: center;
    }

    .box {
        width: 115px;
        height: 115px;
        background-color: gray;
        border: none;
        box-shadow: 6px 6px 6px rgba(0, 0, 0);
        font-size: 3em;
        margin: 6px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        line-height: 115px;
    }

    #reset {
        margin-top: 20px;
    }

    .button {
        margin: auto;
        background: linear-gradient(black, gray);
    }

    .button:hover {
        animation: none;
        background: linear-gradient(gray, white);
        color: black;
        font-weight: bold;
    }
    
}